.detailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0e0f0f;
}

.CardItemDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 250, 21, 0.1);
  overflow: hidden;
}
.ImgDetail{
  background-color: #fff;
  width: 50%;
}

.big-img img {
  width: 441px;
  height: 441px;
  object-fit: cover;
  border-radius: 25px;
  margin-left: 20px;
  box-shadow: 0px 4px 8px rgba(248, 243, 243, 0.1);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.row{
  margin-top: 20px; /* agregar un margen top */
  padding: 20px;
}

.box h2 {
  font-size: 24px; /* aumentar el tamaño de la fuente */
  font-weight: 600;
  color: #a09f9f;
  margin-bottom: 50px; /* agregar un margen bottom */
}

.box span {
  font-size: 36px; /* aumentar el tamaño de la fuente */
  font-weight: 600;
  color: #a09f9f;
}

.box p {
  font-size: 18px;
  font-weight: 600;
  color: #a09f9f;

}

.descripdetalle{
  font-size: 18px;
  font-weight: 600;
  color: #a09f9f;
}
.addCart {
  background-color: #39ff14;
  border: 2px solid #000000;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  font-weight: 400;
  margin-top: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  text-shadow: 1px 1px #000000;
  text-decoration: none;
  
}

.addCart:hover {
  background-color: #00e600;
  box-shadow: 0px 0px 8px #39ff14;
  animation: glowing 1s ease-in-out infinite;

}

@keyframes glowing {
  0% {
      background-color: #00e600;
      box-shadow: 0 0 3px #00e600;
  }

  50% {
      background-color: #39ff14;
      box-shadow: 0 0 10px #39ff14;
  }

  100% {
      background-color: #00e600;
      box-shadow: 0 0 3px #00e600;
  }
}